<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',
	'/_shared/__external/codemirror/keymap/sublime.js',	
	'__compiled/ui-behaviour.js',
	'__compiled/ui-style.css',
	'ui-behaviour.js',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div id="MSWPromptTarget"></div>

<script type="text/javascript">
MSWPromptBehaviour.LifecyclePageWillLoad();
</script>
