MSW_SHARED_GITHUB_URL=XXXXX

MSW_VITRINE_IDENTITY_URL=https://static.rosano.ca/massagetxt/identity.svg

SWAR_LINK_ICON_URL=https://static.rosano.ca/swar/identity.svg
SWAR_LINK_URL=https://ring.0data.app/#random

OLSK_REPO_URL=https://github.com/massagetxt/massagetxt-web

ROCO_SHARED_PROJECT_ID=RP_002
