<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	
	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',
];
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>MSWEditorDispatchValueDidChange</strong>
	<span id="TestMSWEditorDispatchValueDidChange">0</span>
	<span id="TestMSWEditorDispatchValueDidChangeValue">undefined</span>
</p>
