:root {
	--OLSKCommonBackground: var(--MSWCommonBackground);
	--OLSKCommonForeground: var(--MSWCommonForeground);
}

body {
	background: var(--MSWCommonBackground);
	color: var(--MSWCommonForeground);
}
