:root {
	--MSTExplorerFontSize: 10pt;
	--MSTExplorerPadding: 10px;
}

.MSTExplorer {
	height: 100vh;

	font-family: 'Helvetica Neue', 'Helvetica', sans;
	font-size: var(--MSTExplorerFontSize);

	/* MSTExplorerFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.MSTExplorerToolbar {
	padding: var(--MSTExplorerPadding);

	background: rgba(0, 0, 0, 6%);

	/* MSTExplorerToolbar:Parent */
	display: flex;
	justify-content: flex-end;
}

.MSTExplorerWorkspace {
	/* MSTExplorerFlexbox:Child */
	flex-grow: 1;

	/* MSTExplorerWorkspaceFlexbox:Parent */
	display: flex;
	flex-direction: column;
}

.MSTExplorerConvert {
	/* MSTExplorerWorkspaceFlexbox:Child */
	flex-grow: 1;

	/* MSTExplorerConvertFlexbox:Parent */
	display: flex;
}

.MSTExplorerConvert > * {
	/* MSTExplorerConvertFlexbox:Child */
	flex-basis: 40%;
}

.MSTExplorerRaw {
	/* MSTExplorerRawStation:Parent */
	position: relative;
}

.MSTExplorerRaw :global(.CodeMirror) {
	font-size: var(--MSTExplorerFontSize);
	
	/* MSTExplorerRawStation:Child */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	/* override defaults */
	height: 100%;
}

.MSTExplorerTrace {
	padding: var(--MSTExplorerPadding);

	background: rgba(0, 0, 0, 4%);

	/* MSTExplorerConvertFlexbox:Child */
	flex-basis: 20% !important;
}

.MSTExplorerOutput {
	margin: 0;
	padding: var(--MSTExplorerPadding);

	background: rgba(0, 0, 0, 8%);
}

.MSTExplorerMassage {
	background: rgba(0, 0, 0, 2%);

	/* MSTExplorerWorkspaceFlexbox:Child */
	min-height: 80px;

	/* MSTExplorerMassageStation:Parent */
	position: relative;
}

.MSTExplorerMassage :global(.CodeMirror) {
	font-size: var(--MSTExplorerFontSize);

	/* MSTExplorerMassageStation:Child */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	/* override defaults */
	height: 100%;
}

.MSTExplorerMassage :global(.CodeMirror-scroll) {
	background: rgba(0, 0, 0, 2%);
}

.MSTExplorerMassage :global(.CodeMirror-lines) {
	/* override defaults */
	padding: var(--MSTExplorerPadding);
}

.MSTExplorerMassage :global(.CodeMirror pre) {
	/* override defaults */
	padding: 0;
}
