<div class="MSWRootLink">

<%- include('../__external/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalizedFor('MSWVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/MSWRootLink/ui-assets/identity.svg',
}) %>

</div>
