<a class="MSWRootLink" href="<%= OLSKCanonicalLocalizedFor('MSWVitrineRoute') %>" title="<%= OLSKFormatted(OLSKLocalized('MSWSharedColonSeparatedFormat'), OLSKLocalized('MSWRootLinkLogoLabel'), OLSKLocalized('MSWRootLinkText')) %>"><img role="presentation" src="/_shared/MSWRootLink/ui-assets/identity.svg"></a>
